<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"/>
    <meta name="author"/>
    <title>精选歌曲</title>
    <link href="asserts1/Style/index_css.css" th:href="@{/asserts1/Style/index_css.css}" type="text/css" rel="stylesheet"/>
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" src="/asserts1/Style/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/asserts1/Style/jquery.indexSlidePattern.js"></script>

</head>

<body>
<div id="All">
    <div class="head">
        <div class="logo">
            <span><form action="#" th:action="@{/solrSearch}" method="get" class="list">
                <input name="searchName" placeholder=" 搜索音乐" type="text" class="seektext"
                       style="background-image: url(/asserts1/Images/btn.png); background-repeat: no-repeat; text-indent: 2em;"/>
                <input type="submit" class="btn" value="搜索一下"/></form>
            </span>
        </div>
    </div>
    <div id="navigate">
        <ul>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:1em;"><a href="#" th:href="@{/home}" target="_self">首页</a>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:2em;"><a th:href="@{/singer}" target="_self">热门歌手</a>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:2em;"><a href="#">精选歌曲</a>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:2em;"><a href="#" th:href="@{/collection}" target="_self">我的收藏</a>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:2em;"><a href="#" th:href="@{/recommend}" target="_self" >猜你喜欢</a>
            <li style="font-size:24px; float:left; line-height:35px; text-indent:2em;"><a th:href="@{/logout}" target="_self">退出登录</a>
        </ul>
        <hr/>
    </div>


    <audio id="music"> </audio>
    <script type="text/javascript">
        // 定义全局变量
        var player = document.getElementById("music");
        player.src = "";
    </script>
    <!--歌曲列表-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th>歌曲</th>
            <th>歌手</th>
            <th>播放</th>
            <th>停止</th>
            <th>发行时间</th>
            <th>唱片类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song:${songs}">
            <td width="15%" th:text="${song.songName}"></td>
            <td width="15%" th:text="${song.singer}"></td>
            <td width="8%">
            <!--播放按键-->
                <img th:id="${song.Id}" src="/asserts1/Images/play.png" height="33" width="33">
                <!--onclick函数播放音乐-->
                <script type="text/javascript" th:inline="javascript">
                    document.getElementById([[${song.Id}]]).onclick = function () {
                        player.src = [(${song.musicURL})];
                        player.play();
                    }
                </script>
            </td>
            <!--停止按键-->
            <td width="12%">
                <img id="stop" src="/asserts1/Images/stop.png" height="33" width="33" onclick="stop()">
                <!--onclick函数停止播放-->
                <script type="text/javascript" th:inline="javascript">
                    function stop() {
                        player.pause();
                    }
                </script>
            </td>

            <td width="15%" th:text="${song.attrsPubdate}"></td>
            <td width="15%" th:text="${song.attrsMedia}"></td>
            <td>
                <a style="color: white" class="btn btn-sm btn-success" th:text="收藏"
                   th:href="@{/mycollect/}+ ${song.songName}+'&'+${song.singer}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--翻页按键-->
    <a id="previousPage" class="btn btn-default" href="/song/prePage"  role="button">上一页</a>
    <a id="nextPage" class="btn btn-default" href="/song/nextPage" role="button">下一页</a>

</div>

</body>
</html>
